h4 {
  color: var(--color-2);
  font-weight: 600;
  text-align: center;
}

.logo {
  animation: bounce 2s;
}

@keyframes bounce {

  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0);
  }
}
