/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap') ; */

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap') ;

:root {

  --color-background: #fdffff;

  --color-1: #280000;

  --color-2: #570000;

  --color-3: #b10f2e;

  --color-4: #f3b39e;

  --color-5: #f4d8c2;

}

* {

  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: 'Radio Canada' , sans-serif;
}

h1 {
  color: var(--color-1);
  font-weight: 600;
}

