:root {

  --color-background: #f4d8c2;

  --color-1: #280000;

  --color-2: #80160c;

  --color-3: #b10f2e;

  --color-4: #f3b39e;

  --color-5: #fdffff;
}

h4 {
  color: var(--color-2);
  font-weight: 600;
  text-align: center;
}

.logo {
  animation: bounce 2s;
}

@keyframes bounce {

  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0);
  }
}
