:root {

  --color-background: #f4d8c2;

  --color-1: #280000;

  --color-2: #80160c;

  --color-3: #b10f2e;

  --color-4: #f3b39e;

  --color-5: #fdffff;
}

.card-component {
  background-color: var(--color-5);
  border-radius: 10px;
  color: var(--color-2);
  cursor: pointer;
  text-align: center;
}
