footer {
  background-color: var(--color-background);
  bottom: 0;
  height: 60px;
  position: fixed;
  width: 100%;
}

.button-icon {
  background-color: transparent;
  border: none;
  padding: 5px;
}
