header {
  background-color: var(--color-background);
  font-size: 1rem;
}

.button-icon {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.title {
  color: var(--color-2);
}

.input-text {
  color: var(--color-2);
  font-weight: 500;
}

