:root {

  --color-background: #f4d8c2;

  --color-1: #280000;

  --color-2: #80160c;

  --color-3: #b10f2e;

  --color-4: #f3b39e;

  --color-5: #fdffff;

}

header {
  background-color: var(--color-4);
}

.button-icon {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.title {
  color: var(--color-2);

  /* text-shadow: var(--color-1); */
}
