@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap') ;

* {
  box-sizing: border-box;
  font-family: Radio Canada , sans-serif;
  margin: 0;
  padding: 0;
}

:root {

  --color-background: #f4d8c2;

  --color-1: #280000;

  --color-2: #80160c;

  --color-3: #b10f2e;

  --color-4: #f8a362;

  --color-5: #fcf9f4;
}

h4 {
  color: var(--color-2);
  font-weight: 600;
  text-align: center;
}

.logo {
  animation: bounce 2s;
}

@keyframes bounce {

  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0);
  }
}

header {
  background-color: var(--color-background);
  font-size: 1rem;
}

.button-icon {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.title {
  color: var(--color-2);
}

.input-text {
  color: var(--color-2);
  font-weight: 500;
}

body {
  background-color: var(--color-background);
}

.container-page {
  background-color: var(--color-5);
  height: 100vh;
}

.container-page-ingredients {
  background-color: var(--color-5);
}

/* .share-btn {
  background-image: 'src/images/blackHeartIcon.svg';
} */

.container-page-foods {
  background-color: var(--color-5);
}

.container-buttons {
  width: 300px;
}

.container-cards-foods {
  padding-bottom: 70px;
}

.cardIngredients {
  border-radius: 3px;
  color: var(--color-2);
  height: 35%;
  text-align: center;
  width: 100%;
}

.container-cards {
  padding-bottom: 70px;
}

.container-page-drinks {
  background-color: var(--color-5);
}

.container-cards-drinks {
  padding-bottom: 70px;
}

.name-recipe {
  background-color: var(--color-2);
  border-radius: 0 0 15px 15px;
  color: var(--color-5);
}

.container-icons {
  background-color: var(--color-5);
  border-radius: 10px;
}

.container-details {
  background-color: var(--color-5);
  border-radius: 10px;
  color: var(--color-2);
}

.title-h2-page-details {
  color: var(--color-2);
}

.video-details {
  border: none;
  height: auto;
  width: auto;
}

.margin-instructions {
  margin-bottom: 80px;
}

.not-found {
  border-radius: 50%;
}

footer {
  background-color: var(--color-background);
  bottom: 0;
  height: 60px;
  position: fixed;
  width: 100%;
}

.footer-button {
  height: 70px;
}

.recipe-button {
  bottom: 0;
  position: fixed;
}
